{% extends 'base.html.twig' %}

{% block title %} Student Create {% endblock %}

{% block body %}

<!-- Return to homepage -->
<div class="my-4 px-8">
    <a class="bg-amber-400 hover:bg-gray-200 rounded-xl p-2 text-black font-semibold" href="{{ path('app_homepage') }}">
        <svg class="inline text-black" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"> <path fill="#000" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
        Back
    </a>
</div>

<main class="flex flex-col items-center">

<div class="md:flex justify-center space-x-3 mt-5 px-4 lg:px-8">
    <div class="flex justify-center">
        
    </div>
    <div class="space-y-5">
        <div class="mt-8 max-w-xl mx-auto">
        
    <h1 class="text-3xl text-center text-white font-semibold mb-8"> Add Student </h1>

    {{ form_start(form) }}

    <!-- Enter student status -->
    <div>
    {{ form_widget(form.status, {'attr': {'class':'rounded-2xl py-1 px-3 flex justify-center w-46 items-center mb-5',
                                        'style':'background: rgba(85, 84, 81, 0.1);'} }) }}
    </div>
    <div class="text-red-500">
        {{ form_errors(form.status) }}
    </div>
    <!-- End Enter student status -->

    <!-- Enter student data -->
    <div class="flex flex-col mb-3">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class':'text-[32px] font-semibold border-b border-white/10 pb-5 mb-5', 
                                        'pattern':'^[a-zA-Z\\s]+$', 
                                        'title': 'Please enter name',
                                        'style':'background: rgba(85, 84, 81, 0.1);'} }) }}
    <div class="text-red-500">
        {{ form_errors(form.name) }}
    </div>

    {{ form_label(form.id) }}
    {{ form_widget(form.id, {'attr': {'class':'text-[16px] text-slate-300 font-semibold mt-2 h-8 uppercase mb-5',
                            'pattern': '[0-9]{6}',
                            'title':'There has to be 6 digits',
                            'style':'background: rgba(85, 84, 81, 0.1);' } }) }}

    {{ form_label(form.year) }}
    {{ form_widget(form.year, {'attr': {'class':'text-[16px] text-slate-300 font-semibold mt-2 h-8 uppercase mb-5',
                            'pattern': '[0-6]{1}',
                            'title':'1 digit and less than 6',
                            'style':'background: rgba(85, 84, 81, 0.1);'} }) }}
    </div>

    <div class="text-red-500">
        {{ form_errors(form.id) }}
    </div>
    
    <div class="text-red-500">
        {{ form_errors(form.year) }}
    </div>

    <!-- Enter student data -->
    
    

    <!-- Submit -->
    <div class="bg-amber-300 rounded-2xl text-center text-black font-semibold p-3">
        {{ form_row(form.submit, {'label': 'Create'}) }}
    </div>

    {{ form_end(form) }}
</div>

</main>
{% endblock %}