{% extends 'base.html.twig' %}

{% block title %} Student Create {% endblock %}

{% block body %}
<div class="my-4 px-8">
    <a class="bg-amber-400 hover:bg-gray-200 rounded-xl p-2 text-black font-semibold" href="{{ path('app_homepage') }}">
        <svg class="inline text-black" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"> <path fill="#000" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
        Back
    </a>
</div>

<main class="flex flex-col items-center h-screen">

<div class="rounded-2xl p-6 flex-col min-[1174px]:justify-between bg-sky-500 text-black text-2xl">
    <h1 class="text-3xl text-center text-amber-300 font-semibold mb-3"> Add student </h1>

    {{ form_start(form) }}

    <div class="flex justify-between">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class':'text-black rounded-2xl rounded-lg pl-3 mb-3'} }) }}
    </div>

    <div class="flex justify-between">
    {{ form_label(form.id) }}
    {{ form_widget(form.id, {'attr': {'class':'text-black rounded-2xl rounded-lg pl-3 mb-3'} }) }}
    </div>

    <div class="flex justify-between">
    {{ form_label(form.year) }}
    {{ form_widget(form.year, {'attr': {'class':'text-black rounded-2xl rounded-lg pl-3 mb-3'} }) }}
    </div>
    {{ form_errors(form.year) }}

    <div class="flex justify-between">
    {{ form_label(form.status) }}
    {{ form_widget(form.status, {'attr': {'class':'text-black rounded-2xl rounded-lg pl-3 mb-3'} }) }}
    </div>

    <div class="bg-amber-300 rounded-2xl text-center text-black font-semibold p-3">
        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
</div>

</main>
{% endblock %}