{% extends 'base.html.twig' %}

{% block title %} {{ student.name }} {% endblock %}

{% block body %}

<!-- Back to Homepage -->
<div class="mb-8 my-4 px-8">
    <a class="bg-amber-400 hover:bg-gray-200 rounded-xl p-2 text-black font-semibold" href="{{ path('app_homepage') }}">
        <svg class="inline text-black" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"> <path fill="#000" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
        Back
    </a>
</div>

<!-- Student Deletion -->
<div class="my-4 px-8">
    {{ form_start(form) }}
        <button type="submit" class="bg-red-500 hover:bg-gray-200 rounded-xl p-2 text-black font-semibold">
            Delete
        </button>
    {{ form_end(form) }}
</div>

<!-- Student Edit -->
<div class="my-4 px-8">
    <a class="bg-green-400 hover:bg-gray-200 rounded-xl p-2 text-black font-semibold" href="{{ path('edit_student', { 'id': student.id }) }}">
        Edit
    </a>
</div>

<div class="md:flex justify-center space-x-3 mt-5 px-4 lg:px-8">
    <div class="flex justify-center">
        
    </div>
    <div class="space-y-5">

        <!-- Student Image -->
        <div class="mt-8 max-w-xl mx-auto">
        {% if student.studying %}
            <img class="max-w-[400px] max-h-[200px] md:max-h-[200px]" 
            src="{{ asset('images/student.png') }}"
            alt="student logo">
        {% elseif student.notStudying %}
            <img class="max-w-[400px] max-h-[200px] md:max-h-[200px]" 
            src="{{ asset('images/dropout.png') }}"
            alt="dropout logo">
        {% else %}
            <img class="max-w-[400px] max-h-[200px] md:max-h-[200px]" 
            src="{{ asset('images/transfer.png') }}"
            alt="transfer logo">
        {% endif %}
            <div class="px-8 pt-8">

                <!-- Student Status Color -->
                <div class="rounded-2xl py-1 px-3 flex justify-center w-32 items-center" style="background: rgba(85, 84, 81, 0.1);">
                    {% if student.studying() %}
                        <div class="rounded-full h-2 w-2 blur-[1px] mr-2 bg-green-400"></div>
                    {% elseif student.notStudying() %}
                        <div class="rounded-full h-2 w-2 blur-[1px] mr-2 bg-red-500"></div>
                    {% else %}
                        <div class="rounded-full h-2 w-2 blur-[1px] mr-2 bg-amber-400"></div>
                    {% endif %}
                    <p class="uppercase text-xs"> {{ student.statusToString }} </p>
                </div>

                <!-- Student Info -->
                <h1 class="text-[32px] font-semibold border-b border-white/10 pb-5 mb-5">
                    {{ student.name }}
                </h1>
                <h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">Student ID</h4>
                <p class="text-[22px] font-semibold">{{ student.getID }}</p>

                <h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">Year</h4>
                <p class="text-[22px] font-semibold">{{ student.year }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}